<div class="container-fluid p-5">

    <mat-tab-group class="center">
      <mat-tab label="RoadMap" disabled="true">

      </mat-tab>
      <mat-tab label="Q1">
        <h1>TEXTO </h1>
        <div class="row">
         <div class="col-4 padding-txt-side">
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
         </div>
         <div class="col-6">
           <p class="card-text txt-roadmap">{{this.texto2}}</p>
         </div>
         </div>
      </mat-tab>
      <mat-tab label="Q1">
        <h1>TEXTO </h1>
        <div class="row">
         <div class="col-4 padding-txt-side">
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
         </div>
         <div class="col-6">
           <p class="card-text txt-roadmap">{{this.texto2}}</p>
         </div>
         </div>
      </mat-tab>
      <mat-tab label="Q1">
        <h1>TEXTO </h1>
        <div class="row">
         <div class="col-4 padding-txt-side">
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
         </div>
         <div class="col-6">
           <p class="card-text txt-roadmap">{{this.texto2}}</p>
         </div>
         </div>
      </mat-tab>
      <mat-tab label="Q1">
        <h1>TEXTO </h1>
        <div class="row">
         <div class="col-4 padding-txt-side">
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
           <p class="card-text txt-roadmap-side">{{this.texto1}}</p>
         </div>
         <div class="col-6">
           <p class="card-text txt-roadmap">{{this.texto2}}</p>
         </div>
         </div>
      </mat-tab>
    </mat-tab-group>

</div>
