<div class="container-fluid team-div">
  <h1 class="center">MEET THE TEAM</h1>

  <div class="row center">
    <div class="col " style="margin-left: 35px;">
      <mat-card class="card-team">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>Matheus Dias</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img-avatar" src="../../assets/imgs/3txqq3ov 1.png">
        <mat-card-content>
          <p class="card-text">TEXTO</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="card-team">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>Matheus Dias</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img-avatar" src="../../assets/imgs/3txqq3ov 1.png">
        <mat-card-content>
          <p class="card-text">TEXTO</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="card-team">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>Matheus Dias</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img-avatar" src="../../assets/imgs/3txqq3ov 1.png">
        <mat-card-content>
          <p class="card-text">TEXTO</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
