* {
  width: 100%;
  height: 100%;
  display: block;
}
h1 {
  background: #090E18;
  color: #fff;
}

.txt-primario {
  align-items: center;
  text-align: center;
}

#img-principal {
  height: 422px;
  width: 633px;
  max-width: 60%;
  float: left;
}

.card {
  background: #2F3238;
}

.txt-card {
  float: right;
}

.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.container p {
  font-size: 3rem !important;
  padding: 0.5rem !important;
  letter-spacing: 0.1rem !important;
  text-align: center !important;
  overflow: hidden !important;
}
.container p span.typed-text {
  font-weight: normal !important;
  color: #38E429 !important;
}
.container p span.cursor {
  display: inline-block !important;
  background-color: #ccc !important;
  margin-left: 0.1rem !important;
  width: 3px !important;
  animation: blink 1s infinite !important;
}
.container p span.cursor.typing {
  animation: none !important;
}
@keyframes blink {
  0%  { background-color: #ccc !important; }
  49% { background-color: #ccc !important; }
  50% { background-color: transparent !important; }
  99% { background-color: transparent !important; }
  100%  { background-color: #ccc !important; }
}