<div class="container-fluid background">
    <div class="row">
      <div class="container">
        <p class>We travel in the past to bring you the <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
      </div>
    </div>
    <div class="row center">
      <div class="card-wrapper">

        <mat-card class="card center">
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
              <img
              src="../../assets/imgs/live-music-g2659317d0_1920 1.png"
              id="img-principal"/>
            </mat-grid-tile>
            <mat-grid-tile>
                GO TO THE NEXT LEVEL WITH TOKENIZED TICKTZ<br>
                  ENJOY YOUR EVENTS LIKE A REAL VIKING
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>
    </div>
</div>

<app-about id="about"></app-about>


<app-roadmap id="roadmap"></app-roadmap>

<app-team id="team"></app-team>
