<div class="container-fluid background">
  <div class="row">
    <div class="container row">
      <p>We travel in the past to bring you the <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
    </div>
  </div>
  <div class="row center">
    <div class="card-wrapper">

      <mat-card class="card center">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <img src="../../assets/imgs/live-music-g2659317d0_1920 1.png" id="img-principal" />
          </mat-grid-tile>
          <mat-grid-tile>
            Live events space is one of the industries that could be disrupted by NFTs completely. It is an industry
            that ticketing companies and concert promoters should keep an eye on for potential opportunities and
            emerging tech to make live events better than before.

            NFT is an emerging technology trend that is disrupting almost every industry, including ticketing. NFTs for
            ticketing bring transparency to the ticketing platform and assure the secondary buyer that they are getting
            a valid ticket to the event they are excited about.
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
</div>

<app-about id="about"></app-about>


<app-roadmap id="roadmap"></app-roadmap>

<app-team id="team"></app-team>