<nav class="navbar navbar-expand-lg background">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row">
    <div class="col-4">
      <div class="container">
        <a class="navbar-brand">
          <img src="../../assets/logo-header.svg" alt="logo-skal" width="100" height="60">
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul  style="padding-left: 60px !important; margin-top: 20px !important;" class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="roadmap">ROADMAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="Team">TEAM</a>
        </li>

      </ul>
    </div>

    </div>
    <div class="col-4">
     <button type="button" class="btn btn-primary" style="float: right;"><i class="bi bi-wallet2"></i> CONNECT WALLET</button>
    </div>
  </div>

</nav>

