<nav class="navbar navbar-expand-lg background">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row">
    <div class="col-4">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../../assets/logo-header.svg" alt="" width="55" height="55">
        </a>
      </div>
    </div>
    <div class="col-4 " style="padding-left: 25vh;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Roadmap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Team</a>
        </li>

      </ul>
    </div>

    </div>
    <div class="col-4" style="padding-left: 45vh;">
     <button type="button" class="btn btn-primary" style="margin-top: 7px;"><i class="bi bi-wallet2"></i> Connect Wallet</button>
    </div>
  </div>

</nav>

