<div class="container-fluid row pt-5">
    <div class="col-6" style="margin-left: 50px !important;">
        <h1 style="font-weight: 700 !important;" class="about-txt">ABOUT</h1>
        <p class="pt-3">The project aims to develop a system for the sale and control of tokenized tickets, taking
            advantage of all the
            cryptographic apparatus that blockchain's provide, managing to solve pain such as bureaucracy when buying
            tickets,
            counterfeits and also reducing costs, in addition to generating exclusive advantages and royalties as NFT's
            become
            collectible and with higher market value.</p>
    </div>
    <div class="row mx-auto pt-5 pl-5">
        <div class="col-2 text-justify center">
            <h2 class="text-center" style="font-weight: 700 !important; margin-bottom: 0px !important;">BLOCKCHAIN</h2>
            <div class="linha-txt"></div>
            <i class="bi bi-currency-bitcoin d-flex justify-content-center pt-2" matTooltip="Infos sobre a blockchain Infos sobre a blockchain Infos sobre a blockchain Infos sobre a blockchain" [matTooltipPosition]="'right'" style="font-size: 50px;"></i>
        </div>

        <div class="col-2 text-justify center">
            <h2 class="text-center" style="font-weight: 700 !important; margin-bottom: 0px !important;">TICKETS</h2>
            <div class="linha-txt" style="margin-left: 40px !important;"></div>
            <i class="bi bi-ticket d-flex justify-content-center pt-2" matTooltip="Infos sobre os tokens nao fundiveis Infos sobre os tokens nao fundiveis Infos sobre os tokens nao fundiveis Infos sobre os tokens nao fundiveis" [matTooltipPosition]="'left'" style="font-size: 50px;"></i>
        </div>
    </div>
</div>
