<div class="row background">
    <h1>ABOUT</h1>
    <p class="pt-3">The project aims to develop a system for the sale and control of tokenized tickets, taking advantage of all the
        cryptographic apparatus that blockchain's provide, managing to solve pain such as bureaucracy when buying
        tickets,
        counterfeits and also reducing costs, in addition to generating exclusive advantages and royalties as NFT's
        become
        collectible and with higher market value.</p>
    <div class="row mx-auto pt-5 pl-5">
        <div class="col-2">
            <h2>BLOCKCHAIN</h2>
            <i class="bi bi-currency-bitcoin"></i>
        </div>

        <div class="col-2">
            <h2>TICKETS</h2>
            <i class="bi bi-ticket"></i>
        </div>
    </div>
</div>