@import url('../../styles.scss');

* {
  margin: 0;
  padding: 0;
}

.about-txt {
  border-bottom: solid #38E429 4px;
  width: 70px;
 }

 .linha-txt {
  border-bottom: solid #38E429 4px;
  width: 70px;
 }

 .bi {
  transition: all 0.5s;
  cursor: pointer;
 }
 .bi:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
 }

 .about-div {
  margin-top: 50px;
 }

